.data-display {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background-color: #FFF;
    border-radius: 1rem;

    color: #1A1A1A;

    min-width: 65rem;
}

.loading {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;   
}