.container {
    display: flex;
    
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.descricao-container {
    display: flex;

    flex-direction: column;
    justify-content: center;

    width: 70%;
    height: 100vh;
}

.header {
    position: fixed;
    
    top: 0;
    padding-top: 3rem;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 100vh;
}

.login {
    width: 24em;
    height: 28em;

    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;

    box-shadow: 1px 1px 7px 1px #4b585d;
}

.login-content {
    padding-left: 12%;
    padding-right: 12%;
}

.login-title {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.5em;
    color: #231F20;
}

.login-erro {
    color: red;
    font-size: 0.8em;
}

label {
    font-size: 0.9em;
    color: #231F20;
    font-weight: normal;
}